nav {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #630a10;
  color: #fff;
}

.navbarTitle {
  font-size: 1.75rem;
  font-weight: bold;
}

.mainImage {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.mainImage img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
