@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Source+Sans+Pro:wght@300;700;900&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}

main {
  background-color: #fcf0c8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cantata One", serif;
}
